<div class="container">
  <div class="user-details">
    <h1> Kayden Arias Sharky Althen </h1>
    <!-- <h3> My Expertise </h3> -->
    <div> {{site.user_description}} </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Web Development</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>
        JavaScript &#8226; Node.js &#8226; Python &#8226;
        React|Redux &#8226; AngularJS &#8226; Vue.js &#8226;
        Flask &#8226; HTML5 &#8226; CSS3 &#8226; LESS|SASS &#8226;
        Bootstrap &#8226; Pixlr|GIMP &#8226; Mongoose &#8226;
        MongoDB &#8226; MySQL &#8226; PostgreSQL
      </p>
    </div>
    <div class="four columns">
      <h4>Tooling | DevOps</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-nginx-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <img alt="jenkins" height="90" width="75" src="{{ "/assets/img/jenkins.png" | prepend: site.baseurl }}" />
      <img alt="helm" height="75" width="75" src="{{ "/assets/img/helm.png" | prepend: site.baseurl }}" />
      <img alt="openshift" height="75" width="75" src="{{ "/assets/img/openshift.jpg" | prepend: site.baseurl }}" />
      <p>
        Git &#8226; Gulp &#8226; Grunt &#8226; NPM &#8226; Bower &#8226;
        Cron &#8226; curl &#8226; bash &#8226; ssh &#8226; ZSH &#8226;
        Jenkins &#8226; Travis &#8226; Heroku &#8226; Hubot &#8226;
        NGINX &#8226; Docker &#8226; Helm &#8226; OpenShift &#8226; K8S
      </p>
    </div>
    <div class="four columns">
      <h4>Test Automation</h4>
      <i class="devicon-protractor-plain colored"></i>
      <img alt="selenium" height="60" width="75" src="{{ "/assets/img/selenium.png" | prepend: site.baseurl }}" />
      <i class="devicon-mocha-plain colored"></i>
      <img alt="jest" height="75" width="75" src="{{ "/assets/img/jest.png" | prepend: site.baseurl }}" />
      <img alt="pytest" height="75" width="75" src="{{ "/assets/img/pytest.png" | prepend: site.baseurl }}" />
      <img alt="saucelabs" height="75" width="75" src="{{ "/assets/img/saucelabs.png" | prepend: site.baseurl }}" />
      <p>
        Protractor &#8226; Mocha &#8226; Chai &#8226; Karma &#8226;
        Selenium Webdriver &#8226; OpenCAFE &#8226;
        Saucelabs &#8226; pytest &#8226; Jest</p>
    </div>
  </div>
</div>
