<div class="container">
  <div class="user-details">
    <h1> Kayden Arias Sharky Althen </h1>
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-less-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>HTML5 &#8226; CSS3 &#8226; Bootstrap &#8226; LESS</p>
    </div>
    <div class="four columns">
      <h4>Code/Db</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>JavaScript &#8226; Node.js &#8226; AngularJS &#8226; React/FLux &#8226; Python &#8226; Flask &#8226; Protractor &#8226; Mocha &#8226; Chai &#8226; Mongoose &#8226; MongoDB &#8226; MySQL &#8226; PostgreSQL</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-grunt-line-wordmark colored"></i>
      <i class="devicon-bower-line-wordmark colored"></i>
      <i class="devicon-heroku-plain-wordmark colored"></i>
      <i class="devicon-travis-plain-wordmark colored"></i>
      <p>Git &#8226; Gulp &#8226; Grunt &#8226; Sublime Text &#8226; NPM &#8226; Bower &#8226; Cron &#8226; Jenkins &#8226; Travis &#8226; Heroku &#8226; GIMP &#8226; Karma &#8226; Selenium</p>
    </div>
  </div>
</div>
