<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="pollfly" src="{{ "/assets/img/pollfly.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> PollFly </h5>
      <p> AngularJS - Express/Node.js - MongoDB</p>
      <p>With PollFly users can create, share, and vote on straw polls as well as view their poll results.</p>
      <a class="project-link" href="https://pollfly.herokuapp.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="idealist" src="{{ "/assets/img/idealist.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> IdeaList </h5>
      <p>React/Flux - Express/Node.js - PostgreSQL</p>
      <p>IdeaList is a forum integrated with Slack designed to promote discussion around a team's feature requests and ideas.</p>
      <a class="project-link" href="http://idea-list.herokuapp.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="lunchmeet" src="{{ "/assets/img/lunchmeet.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> LunchMeet </h5>
      <p> AngularJS - Express/Node.js - MongoDB</p>
      <p>LunchMeet is a web and mobile friendly app that allows users to create and join events happening in their community. </p>
      <a class="project-link" href="https://lunchmeet.herokuapp.com">Check it out</a>
    </div>
  </div>
</div>
