<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        
        <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css"> -->
        <link rel="stylesheet" href="/assets/vendor/devicon.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />
        <script src="/assets/js/sweet-scroll.min.js"></script>
        
        {% include google-analytics.html %}
    </head>    
  <body>
    {% include nav.html %}
    <div class="container">
      {{ content }}
    </div>
  </body>
  {% include footer.html %}
</html>